.img1
{
  background-image: url('../img/lights.jpg');
  background-size: cover;
  height: 500px;
}

.img2
{
  background-image: url('../img/image1.jpg');
  background-size: cover;
  height: 500px;
}

.img3
{
  background-image: url('../img/image2.jpg');
  background-size: cover;
  height: 500px;
}

.img4
{
  background-image: url('../img/image3.jpg');
  background-size: cover;
  height: 500px;
}
#sample-slider
{
  height: 1000px;
}
#animation
{
  height: 700px;
}
.btn-1
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.btn-1-1
{
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
}