.container-fluid
{
  background: linear-gradient(60deg , rgb(10,10,10) 0% , rgb(10,10,10) 10% , rgb(0,0,0) 100%) !important;;;
}
.ccss
{
  box-shadow: 2px 2px 20px darkblue;
padding-top: 500px;
}
.container
{
  background: linear-gradient(60deg , rgb(0,0,0) 0% ,  rgb(0,0,0) 40% , rgb(10,10,10) 40% , rgb(10,10,10) 100%) !important;
 
}